<div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                  
          <div id="root">
            <div class="oj-flex">
              <div class="oj-lg-2 oj-md-3 oj-sm-only-hide oj-flex-item">    
          
                <div class="refined">Refined by</div>
          
                <oj-label id="price_filter_lbl">Price</oj-label>
                <oj-checkboxset id="price_filter" labelled-by="price_filter_lbl"
                    value="{{currentPrice}}" style="padding-bottom: 15px" on-value-changed="[[handleFilterChanged]]">
                  <oj-option id="price_opt1" value="lt30">Less than $30</oj-option>
                  <oj-option id="price_opt2" value="30to40">$30 - $39.99</oj-option>
                  <oj-option id="price_opt3" value="40to50">$40 - $49.99</oj-option>
                  <oj-option id="price_opt4" value="gt50">Greater than $50</oj-option>
                </oj-checkboxset>
          
                <oj-label id="author_filter_lbl">Author</oj-label>
                <oj-checkboxset id="author_filter" labelled-by="author_filter_lbl"
                    value="{{currentAuthor}}" style="padding-bottom: 15px" on-value-changed="[[handleFilterChanged]]">
                  <oj-option id="dcoward" value="dcoward">Danny Coward</oj-option>
                  <oj-option id="hschildt" value="hschildt">Herbert Schildt</oj-option>
                  <oj-option id="jmanico" value="jmanico">Jim Manico</oj-option>
                  <oj-option id="jbrock" value="jbrock">John Brock</oj-option>
                  <oj-option id="mnaftalin" value="mnaftalin">Maurice Naftalin</oj-option>
                </oj-checkboxset>
          
                <oj-label id="rating_filter_lbl">Customer Reviews</oj-label>
                <oj-checkboxset id="rating_filter" labelled-by="rating_filter_lbl"
                    value="{{currentRating}}" style="padding-bottom: 15px" on-value-changed="[[handleFilterChanged]]">
                  <oj-option id="fivestars" value="five">5 Stars</oj-option>
                  <oj-option id="fourstars" value="four">4 or More Stars</oj-option>
                  <oj-option id="threestars" value="three">3 or More Stars</oj-option>
                  <oj-option id="twostars" value="two">Less than 3 Stars</oj-option>
                </oj-checkboxset>
          
              </div>
              <div class="oj-lg-10 oj-md-9 oj-sm-12 oj-flex-item">    
          
                <div class="oj-flex">
                  <div class="oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item">
          
                    <oj-label for="sortBy" class="oj-label-inline">Sort by:</oj-label>
                    <oj-select-one id="sortBy" value="{{currentSort}}" style="max-width:11em" on-value-changed="[[handleSortCriteriaChanged]]">
                        <oj-option value="default">New and Popular</oj-option>
                        <oj-option value="lh">Price: Low to High</oj-option>
                        <oj-option value="hl">Price: High to Low</oj-option>
                        <oj-option value="reviews">Most Reviews</oj-option>
                        <oj-option value="date">Publication Date</oj-option>
                    </oj-select-one>
          
                  </div>
                  <div class="oj-lg-6 oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-paging-control id="paging" data="[[dataProvider]]" page-size="3"></oj-paging-control>
                  </div>
                </div>
                <oj-list-view id="listview" aria-label="list with external sort and filter controls" style="width:100%"
                     data="[[dataProvider]]" selection-mode="single">
                    <template slot="itemTemplate" data-oj-as="item">
                        <div class="oj-flex">
                            <div class="oj-lg-3 oj-md-3 oj-sm-4 oj-flex-item" style="max-width:150px;padding-left:0;padding-right:10px">
                                <div data-bind="style: { backgroundImage: 'url('+ item.data.IMAGE_URL +')', 
                                     backgroundRepeat: 'no-repeat', backgroundSize: '100%', backgroundPosition: 'center', 
                                     height: '172px', width: '100%' }">
                                </div>
                            </div>
                            <div class="oj-lg-9 oj-md-9 oj-sm-8 oj-flex-item">
                                <div class="oj-flex">
                                    <div class="oj-lg-9 oj-md-9 oj-sm-12 oj-flex-item">
                                        <div>
                                            <div><h4><a href="#"><oj-bind-text value="[[item.data.TITLE]]"></oj-bind-text></a></h4></div>
                                        </div>
                                        <div>
                                            <div><span>By <a href="#"><oj-bind-text value="[[item.data.AUTHOR]]"></oj-bind-text></a></span></div>
                                        </div>
          
                                        <div class="oj-flex">
                                            <div class="oj-lg-12 oj-md-12 oj-sm-only-hide oj-flex-item" style="padding:0">
                                                <div class="sku-model">
                                                    <ul>
                                                        <li><span class="label">SKU:</span> <span><oj-bind-text value="[[item.data.ID]]"></oj-bind-text></span></li>
                                                        <li><span class="label">Release Date:</span> <span><oj-bind-text value="[[item.data.PUBLISH_DATE]]"></oj-bind-text></span></li>
                                                        <li><span class="label">Format:</span> <span>Paperback</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oj-flex">
                                            <div class="oj-lg-12 oj-md-12 oj-sm-12 oj-flex-item" style="padding:0">
                                                <div style="width:100%">
                                                    <oj-rating-gauge value="[[item.data.RATING]]" readonly style="width:86px;height:20px;display:inline-block;vertical-align:text-bottom">
                                                    </oj-rating-gauge>
                                                    <span><oj-bind-text value="[[item.data.RATING]]"></oj-bind-text></span>
                                                    <span>(<a href="#" class="tab-link"><oj-bind-text value="[[item.data.REVIEWS]]"></oj-bind-text> Reviews</a>)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oj-flex">
                                            <div class="oj-lg-12 oj-md-12 oj-sm-only-hide oj-flex-item" style="padding:10px 0">
                                                <a class="sku-model" href="#">Check Shipping &amp; Availability</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="oj-lg-3 oj-md-3 oj-sm-12 oj-flex-item">
                                        <div>
                                            <div class="price-block">
                                                <div class="priceblock priceblock-medium">
                                                    <div class="medium-item-price">
                                                      <span class="denominator"><oj-bind-text value="[[currencyConverter.format(item.data.PRICE)]]"></oj-bind-text></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding: 5px 0">
                                                <oj-button>Add to cart</oj-button>
                                            </div>
                                        </div>
                                        <div class="oj-flex">
                                            <div class="oj-lg-12 oj-md-12 oj-sm-only-hide oj-flex-item" style="padding:0">
                                                <div class="offers">
                                                    <ul>
                                                        <li><a href="#">Free Shipping on Orders $35 and Up</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </oj-list-view>
              </div>
           </div>
          </div>
          
          
          
          
          
        </div>
      </div>

      <br/><br/>
      <a href='https://www.oracle.com/webfolder/technetwork/jet/jetCookbook.html?component=listView&demo=filterSortListView' target='_new'>List View Sort & Filter</a>
      